# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data (si es muy grande o sensible)
# data/*.csv  # Descomenta si no quieres subir CSVs

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
